# Mageia-9-Live
# https://www.mageia.org/

iso_pattern="Mageia-9*Live*-x86_64.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname [scandev] ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			export iso_path
			LOOPBACK "$2"
			probe --label --set=cd_label (loop)
			isocfg="iso-scan/filename=$iso_path"
            addon=/MultiOS-USB/config_priv/Mageia-scandev/mageia-9.img

if [ -z $initialised ] ; then
    set grub2=(loop)/boot/grub2
    export grub2

    set kernel=no_choice
    export kernel

    #search --no-floppy --set=overlay -l 'mgalive-persist'
    #export overlay
    #if [ ! -z $overlay ] ; then
    #    search --no-floppy --set=partition -f (loop)/memory/boot/vmlinuz $isocfg --hint $overlay
    #    if [ x$partition == x$overlay ] ; then
    #        set kernel=latest
    #    fi
    #fi

    if loadfont $grub2/fonts/unicode.pf2 ; then
        set gfxmode=1024x768,800x600,auto
        set gfxpayload=keep
        terminal_output gfxterm
    fi

    if [ $grub_platform == 'efi' ] ; then
        set theme=$grub2/themes/maggy/theme-efi.txt
    else
        set theme=$grub2/themes/maggy/theme.txt
    fi
    export theme
    loadfont $grub2/themes/maggy/MageiaLogoBold-16.pf2
    loadfont $grub2/themes/maggy/MageiaLogoBold-20.pf2
    loadfont $grub2/themes/maggy/MageiaLogoBold-28.pf2
    loadfont $grub2/themes/maggy/MageiaLogoRegular-20.pf2

    if [ $grub_platform == 'efi' ] ; then
        set linux=linux
        set initrd=initrd
    else
        set linux=linux16
        set initrd=initrd16
    fi
    export linux
    export initrd

    set initialised=true
    export initialised
fi

set boot=(loop)/boot
export boot
if [ $kernel == 'latest' ] ; then
    set boot=($overlay)/memory/boot
fi

set default=0
set timeout=10

export lang
export lkbd

menuentry $"Boot Mageia Live" {
    $linux $boot/vmlinuz $isocfg lang=$lang kbd=$kbd root=mgalive:LABEL=$cd_label noiswmd audit=0 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 vga=788 splash quiet noxconf xdriver=free
    $initrd $boot/initrd.img $addon
}
menuentry $" + use non-free NVIDIA drivers (slower to boot)" {
    $linux $boot/vmlinuz $isocfg lang=$lang kbd=$kbd root=mgalive:LABEL=$cd_label noiswmd audit=0 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 vga=788 splash quiet nokmsboot xclone=1
    $initrd $boot/initrd.img $addon
}
menuentry $"Install Mageia Live" {
    $linux $boot/vmlinuz $isocfg lang=$lang kbd=$kbd root=mgalive:LABEL=$cd_label noiswmd audit=0 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 vga=788 splash quiet noxconf xdriver=free install
    $initrd $boot/initrd.img $addon
}
menuentry $" + use non-free NVIDIA drivers (slower to boot)" {
    $linux $boot/vmlinuz $isocfg lang=$lang kbd=$kbd root=mgalive:LABEL=$cd_label noiswmd audit=0 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 vga=788 splash quiet nokmsboot xclone=1 install
    $initrd $boot/initrd.img $addon
}
menuentry $"Memory Test" {
    linux (loop)/boot/memtest lang=$lang kbd=$kbd nobigstatus
}
menuentry '________________________' {
    set dummy=true
}
if [ $kernel != 'no_choice' ] ; then
    if [ $kernel == 'latest' ] ; then
        menuentry "F1: "$"Kernel [latest]" --id kernel --hotkey f1 {
            set kernel=original
            configfile $grub2/grub.cfg
        }
    else
        menuentry "F1: "$"Kernel [original]" --id kernel --hotkey f1 {
            set kernel=latest
            configfile $grub2/grub.cfg
        }
    fi
fi
#submenu "F2: "$"Language [$lang]" --id language --hotkey f2 {
#    source $grub2/lang-menu.cfg
#}
}
fi
done
